##############################################################################
# This is the sample JPI configuration file version 0.4
#
# (c) 2004 Bastian Voigt
# last modification 2004-11-16
#
##############################################################################


##############################################################################
# Every BI needs a unique ID. It is recommended to use a random String, starting
# with "bi"

id biMyBiID

##############################################################################
#Every BI should have a humane readable name, which could for instance
#be show on a user interface
name My BI



##############################################################################
# Some network settings
#
# hostname: the JPI's hostname
# japport: TCP Port where the JPI listens for JAP connections
# aiport: TCP Port where the JPI listens for AI connections

hostname bezahl.instanz.de
japport 2342
aiport 4223

##############################################################################
# InfoService settings - where to post data about ourselves

infoservicehost infoservice.inf.tu-dresden.de
infoserviceport 80

##############################################################################
#
# Web based payment interface
#
# This is the url of the web page, where the web based payment interface resists
# This URL is sent to the JAP with every transfer certifcate, so that we JAP known where
# he finds the web page for makeing a payment
webpayurl=http://my.pay.de/

##############################################################################
# To connect to the PostgreSQL server the JPI needs to know
# the hostname of the server, the tcp port, the database name,
# the username and password.
# Note that the JPI supports only TCP connections to the database.
# Even if it is running on the same host, UNIX Domain sockets cannot
# be used at the moment.
#
# It is not recommended to store the database password in this file.
# Please do this only if you absolutely need to start the JPI without
# user interaction. If you do not specify a password here, the JPI
# will ask you for the password on startup

dbhost localhost
dbport 5432
dbname paydb
dbusername pay
dbpassword password



##############################################################################
# keyfile: name of the PKCS#12 file which contains the JPI private signkey
# keyfilepassword: the password for the signkey file.
#
# The keyfile can be generated using the MixConfig tool
# It is not recommended to store the signkey password in this file.
# Please do this only if you absolutely need to start the JPI without
# user interaction. If you do not specify a password here, the JPI
# will ask you for the password on startup.

keyfile test.pfx
keyfilepassword



##############################################################################
# NOTE THAT THE LOGGER CONFIGURATION BELOW IS NON-FUNCTIONAL AT THE MOMENT.
# FOR NOW, ALL LOGGING WILL GO TO STDERR. THIS IS TO BE REPLACED BY A NEW
# CONFIGURATION SCHEME SOON
##############################################################################
# Logger configuration
# The BI contains an internal Logger which can send log output to stderr and
# to a file. The logger supports the LogLevels specified below:
#
# LOG_FATAL = 2
# LOG_CRITICAL = 3
# LOG_ERROR = 4
# LOG_WARNING = 5
# LOG_INFO = 6
# LOG_DEBUG = 7
#
# You can define a threshold, and only messages with a loglevel >= threshold
# will be logged. So, the smaller you choose the threshold, the more messages
# will be logged. The default is to send all output including debug information
# to stderr, and send everything >= LOG_INFO to the logfile.
#
#logfilename BI.log
#logfilethreshold 7
#logstderrthreshold 7

###############################################################################
# Accepted payment options
###############################################################################
currency1=EUR
currency2=USD

option1name=MoneyTransfer
option1type=active
option1heading1=Zahlung per Ueberweisung
option1headinglang1=de
option1heading2=Money transfer
option1headinglang2=en
option1detailedinfo1=Bitte bezahlen Sie den Betrag per Ueberweisung
option1detailedinfolang1=de
option1detailedinfo2=Please pay the chosen amount by money transfer
option1detailedinfolang2=en
option1extrainfo1=Inhaber: JAP-Team, Kontonummer 12345, BLZ 3456778, Sparkasse Hintamberg
option1extrainfolang1=de
option1extrainfotype1=text
option1extrainfo2=Holder: JAP-Team, Account 12345, Bank number  3456778, Sparkasse Hintamberg
option1extrainfolang2=en
option1extrainfotype2=text

option2name=CreditCard
option2type=passive
option2heading1=Zahlung per Kreditkarte
option2headinglang1=de
option2heading2=Credit card
option2headinglang2=en
option2detailedinfo1=Bitte geben Sie die benoetigten Daten ein
option2detailedinfolang1=de
option2detailedinfo2=Please enter the necessary data
option2detailedinfolang2=en
option2input1=Kreditkartengesellschaft
option2inputlang1=de
option2inputref1=company
option2input2=Credit Card company
option2inputlang2=en
option2inputref2=company
option2input3=Nummer
option2inputlang3=de
option2inputref3=number
option2input3=Number
option2inputlang3=en
option2inputref3=number

